.icon {
  width: 7em;
  height: 7em;
  color: black;
  transition: all 0.75s ease;
}

.icon:hover {
  width: 7em;
  height: 7em;
  color: #007bff;
  transform: translateY(-5px);
  transition: all 0.75s ease;
}
